.moviecatalog-container {
  padding: 15px;
}

.moviecatalog-tittle-container {
  flex-direction: column;
}

.moviecatalog-tittle-container h1 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 50px;
}

.moviecatalog-link {
  padding: 0px;
}

.moviecatalog-link a {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;

}

@media (min-width: 576px) {
  .moviecatalog-container {
    padding: 20px 30px;
  }

  .moviecatalog-tittle-container h1 {
    font-size: 36px;
  }

  .moviecatalog-link a {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .moviecatalog-container {
    padding: 40px 80px;
  }

  .moviecatalog-tittle-container h1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .moviecatalog-container {
    padding: 40px 15px;
  }

  .moviecatalog-tittle-container h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .moviecatalog-link a {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
