.main-nav {
  padding-left: 10px !important;
  min-height: 70px;
}

.nav-logo-text {
  font-size: 24px !important;
  color: #000000;
}

.nav-login-logout {
  width: 100px;
  height: 30px;
  padding: 4px 2px 4px 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 15px !important;
  }

  .nav-login-logout {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    padding-left: 23px !important;
  }

  .nav-login-logout {
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    padding-left: 40px !important;
  }

  .nav-login-logout {
    margin-right: 40px;
  }
}

@media (min-width: 1366px) {
  .nav-login-logout {
    margin-right: 240px;
  }
}

@media (min-width: 1400px) {
  .nav-login-logout {
    margin-right: 240px;
  }
}
