.btn-container {
  display: flex;
}

.btn-container button {
  width: 100%;
  height: 50px;
  border-radius: 4px;
}

.buttonicon h6 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .btn-container button {
    height: 65px;
  }
}
