.text-datails {
  display: flex;
  padding: 15px 45px 15px 10px;
}

.text-datails h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.015em;
}

@media (min-width: 576px) {
  .text-datails {
    padding: 40px 0px 5px 40px;
  }

  .text-datails h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .text-datails {
    padding: 40px 0px 10px 100px;
  }

  .text-datails h1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .text-datails {
    padding: 40px 0px 25px 40px;
  }

  .text-datails h1 {
    font-size: 48px;
  }
}
