.review-form-card {
  font-size: 16px;
  height: 155px;
  padding: 20px 10px 0px 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0.25);
}

.base-input {
  margin-bottom: 17px;
  padding-left: 10px;
}

.base-input::placeholder {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.015em;
  padding: 0px;
}

@media (min-width: 576px) {
  .review-form-card-input {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .review-form-card {
    height: 200px;
    padding: 42px 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .base-input {
    margin-bottom: 20px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .review-form-card {
    padding: 40px 30px;
    margin-top: 0px;
  }
}

@media (min-width: 1400px) {
  .review-form-card {
    margin-left: 110px;
    margin-right: 110px;
  }
}
